body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}

.header {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.icon-btn {
  background: none;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.loading {
  align-self: center;
  margin: 0 auto;
}

.posts {
  display: flex;

}
.post {
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
}
.categories {
  display: flex;
  cursor: pointer;
}
.categories li {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 10px;
  cursor: pointer;
}
